@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Readex Pro', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-style: italic;
}

section {
  flex: none;
}

main {
  flex: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.phone-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 360px;
  height: 100%;
  //max-height: 680px;
  background-color: white;
  border-radius: 12px;
  user-select: none;
  flex-direction: column;
}

.primary-title {
  font-size: 5vw;
  color: rgb(255, 255, 255);

  @media (max-width: 1000px) {
    font-size: 9vw;
  }
}

.primary-button {
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  text-transform: uppercase;
  font-size: 16px;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
}

.primary-button:hover {
  background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64));
}

.secondary-button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
}

.secondary-button:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
}


/*-------- Navbar --------*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    width: 170px;
    margin: 14px;
  }

  .nav-button {
    color: rgb(254, 48, 114);
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    margin: 14px;

    &:disabled {
      color: rgb(189, 42, 90);
      background-color: rgb(181, 180, 180);
    }
  }
}

.NavTab {
  width: 100%;
  padding: 1rem;
  @media screen and (min-width: 900px){
    display: none;
  }
  display: flex;
  .navtab-link {
    flex: auto;
    svg {
      width: 3rem;
      height: 3rem;
      color: black;
    }
  }
}

/*-------- Home page --------*/
.overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%), url('images/office_bg.jpg') center;
  background-size: cover;
}

/*-------- Auth Modal --------*/
.auth-modal {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;

  .auth-modal-content {
    margin-top: 3em;
    margin-bottom: 3em;
    width: min(440px, calc(100% - 1rem));
    position: absolute;
    background-color: white;
    border-radius: 1em;
    padding: 2em;

    max-height: calc(100% - 1rem);

    overflow-y: auto;
  }

  .close-icon {
    position: absolute;
    right: 16px;
    top: 10px;
    cursor: pointer;
    user-select: none;
  }

  input {
    padding: 8px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

/*-------- Profile Page --------*/
.profile-page {
  flex: auto;
  padding: 2em;
  overflow: auto;
}

.profile-top {
  display: flex;
  .profile-back {
    width: 2rem;
    height: 2rem;
    color: black;
    margin-right: 5vw;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

/*-------- Dashboard  --------*/

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.dashboard .card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  height: 650px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

/*-------- Chat Container --------*/

.chat-container-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .dashboard & {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &:not(.dashboard &) {
    width: 100%;
  }
}
.chat-container {
  z-index: 1;
  background-color: white;
  flex: none;
  display: flex;
  flex-direction: column;
  width: 325px;

  &:not(.dashboard &) {
    width: 100%;
  }

  .chat-container-header {
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;

    .profile-info {
      transition: background-color;
      background-color: rgba(0, 0, 0, 0);
      padding: 0.2em 0.5em 0.2em 0.2em;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    .profile-image {
      margin-right: 0.5em;
      width: 32px;
      height: 32px;
      border-radius: 9999px;
      overflow: hidden;
    }

    .profile-name {
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .chat-container-body {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;

    .profile {
      transition: transform ease-out 100ms;
      transform: scale(1);
      border-radius: 4px;
      overflow: hidden;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.profile-core {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*-------- Chat Input --------*/
.chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

#btn_s {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

#btn_i {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;

  .swiper-content {
    width: 100%;
    height: 100%;
    background-color: blue;
  }
}

.main-image {
  object-fit: cover;
  height: 100%;
}

.body {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  font-size: 4em;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 32px black;
  width: 100%;

  > svg {
    cursor: pointer;
    padding: 0.5rem;
  }
}

.description {
  text-align: left;
  width: 100%;
  padding: 0.5rem;
}